/*
    CUSTOM STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 93%;
    background: #ECF0F5;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 3px;
    background: #f8f9fa !important;
    background-color: #f8f9fa !important;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    margin: -20px -20px 15px -20px;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

.fa-bars:hover {
    color: #c52127;
}

.fa-bars {
    color: #010101;
}

.fa-power-off:hover {
    color: #010101;
  }

.fa-power-off {
    color: #c52127;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #231f20;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}
#sidebar.active ul li span{
    display: none !important;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
    font-size: 19px;
}
#sidebar ul li:first-child{
    padding: 10px;
    background: #1A2226;
    text-transform: uppercase;
    font-size: 1em;
    color: #3F615F;
}
#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 6px;
    background: #f8f9fa;
    text-align: center;
}
#sidebar .sidebar-header h3{
    margin: 0;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #B8C7CE;
}

#sidebar ul li a:hover {
    color: #e6f6ef;
    background: #c52127;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a {
    color: #fff;
    background: #1E282C;
    border-left: 2px solid #c52127;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}
#sidebar ul ul{
    padding-left: 20px;
}
#sidebar ul ul>li{
    border-top: 1px solid #000;
    padding: 0;
}
#sidebar ul ul>li:first-child{
    background: transparent;
    padding: 0;
    text-transform: capitalize;
}
#sidebar ul ul>li:last-child{
    border-bottom: 1px solid #000;
}
ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
ol.breadcrumb{
    background-color: transparent;
    margin: 0;
    padding-top: 0;
}
.page_container{
    background: #fff;
    border-top: 2px solid #c52127;
    padding-bottom: 15px;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
.page-title{
    border-bottom: 1px solid #dedede;
    padding: 5px 15px;
}
.add_module{
    padding: 15px;
    text-align: right;
    border-bottom: 1px solid #dedede;
    margin-bottom: 15px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
button#sidebarCollapse{
    background: transparent;
    border: none;
    padding: 0;
}

/* ---------------------------------------------------
    dashboard
----------------------------------------------------- */
.note.note-info{
    background-color: #f5f8fd;
    border-color: #8bb4e7;
    color: #010407;
    margin: 0 0 20px;
    padding: 15px 30px 15px 15px;
    border-left: 5px solid #8bb4e7;
}
.dashboard .box{
    border-radius: 4px;
}
.dashboard .clients{
    background: #c52127;
}
.dashboard .joblist{
    background: #00A65A;
}
.dashboard .cards{
    background: #F39C12;
}
.dashboard .certificate{
    background: #DD4B39;
}
.dashboard .box h1{
    font-weight: bold;
    color: #fff;
    opacity: .9
}
.dashboard .box h5{
    color: #fff;
    opacity: .8;
    font-size: 17px;
}
.dashboard .box .icon svg{
    opacity: .5;
    max-width: 100%;
    float: right;
}
.dashboard .box p{
    margin: 0;
    color: #fff;
    text-align: center;
}
.dashboard .box .box-footer{
    border-radius: 0 0 4px 4px;
    opacity: .8;
}
.clients .box-footer{
    background: #a20b11;
}
.joblist .box-footer{
    background: #009551;
}
.cards .box-footer{
    background: #DA8C10;
}
.certificate .box-footer{
    background: #C64333;
}
.certificate .icon{
    text-align: right;
}
.certificate .icon svg path{
    fill: brown;
}
.certificate .icon svg{
    padding: 8px 0;
}
.page-footer{
    padding: 10px;
    background: #222D32;
    color: #fff;
    text-align: center;
}
/* ---------------------------------------------------
    CUSTOMERS
----------------------------------------------------- */
.create_customer{
    padding: 15px;
}
.page_cntnt_title{
    margin-bottom: 15px;
}
.remove_padding{
    padding-right: 0;
    padding-left: 0;
}
/* ---------------------------------------------------
    REQUESTS
----------------------------------------------------- */
.customers_list .select2-container--bootstrap4{
    width: calc(100% - 50px) !important;
}
.customers_list .select2-container--bootstrap4 .selection{
    width: 100% !important;
}
.select2-container--bootstrap4 .selection, .select2-container--bootstrap4{
    width: 100% !important;
}

/* ---------------------------------------------------
    CARDS
----------------------------------------------------- */
.card_verify, .card_verify:hover{
    color: #fff;
}
.full_btn{
    width: 100%;
    color: #fff;
    padding: 2px;
}
.full_btn span, .full_btn span:hover{
    color: #fff;
    opacity: .7;
}
#verifyCardModal .modal-header{
    background-color: #222D32;
    padding: 10px 15px;
}
#verifyCardModal .modal-body{
    background: #ECF0F5;
}
#verifyCardModal .close{
    color: #fff;
    font-weight: 100;
}
/* ---------------------------------------------------
    LOGIN
----------------------------------------------------- */
body.login{
    background: #9CD6E6; /* For browsers that do not support gradients */
    background: linear-gradient(#eeeedb, #edf2fa, #c52127);; /* Standard syntax (must be last) */
}
body.login a{
    color: #007bff;
}
.login .form-title{
    font-size: 25px;
}
.login .content{
    margin-bottom: 20px !important;
}
.login input{
    padding-left: 35px;
}
.login .input-icon{
    position: relative;
}
.login .input-icon > svg{
    color: rgb(204, 204, 204);
    position: absolute;
    z-index: 3;
    width: 16px;
    font-size: 16px;
    text-align: center;
    left: 0px;
    margin: 11px 2px 4px 10px;
}
.login-options ul.social-icons{
    padding: 0 !important;
}
.login-options .social-icons a{
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(197 33 39);
    padding: .7em 1.5em;
    outline: none;
    margin: 10px 0 0 0;
    border-radius: 5px!important;
    display: block;
    width: 200px;
    text-align: center;
}
.login-options .social-icons a:hover{
    background: rgb(120 8 12);
    text-decoration: none!important;
    color: #fff;
}
/* ---------------------------------------------------
    CONFIGURATIONS
----------------------------------------------------- */
.status_active{
    background-color: #36c6d3;
    text-shadow: none!important;
    font-size: 14px;
    font-weight: 300;
    padding: 3px 6px;
    color: #fff;
}
.status_active:hover, .status_inactive:hover{
    color: #fff;
}
.status_inactive{
    text-shadow: none!important;
    font-size: 14px;
    font-weight: 300;
    padding: 3px 6px;
    color: #fff;
    background-color: #bac3d0;
}
.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice{
    margin-bottom: 10px !important;
}

/* ---------------------------------------------------
    VERIFY CARD
----------------------------------------------------- */
.verify_your_card{
    width: 345px;
    margin: 0 auto;
}
.verify_your_card input{
  width: 250px;
  height: 42px;
  border-radius: 4px;
  border: none;
  padding: 0 10px;
}
.verify_your_card button{
  display: inline-block;
  margin-left: 0px;
  width: 89px;
  font-size: 17px;
  color: #fff;
  background-color: #5cb85c;
  height: 40px;
  border-radius: 4px;
  border: none;
}
.verify_your_card a, a.scanAgain{
  display: block;
  padding: 10px;
  color: #fff;
  background-color: #286090;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-top: 20px;
  border-radius: 4px;
  margin-bottom: 20px;
}

/* ---------------------------------------------------
    CARD REPORTS
----------------------------------------------------- */
.separator{
    margin: 20px 0;
    padding: 10px;
    color: #fff;
    background-color: #2b3643;
    text-transform: capitalize;
}
.input-group>.input-group-prepend {
    width: 140px;
    font-size: 11px;
}
.input-group .input-group-text {
    width: 100%;
}
#basic-addon1{
    padding: 5px;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    width: 100%;
}
.reports input, .registered_report input{
    padding: 0 10px;
}
table.inspection_certificates, table.defect_report{
    border-collapse: separate;
    border-spacing: 5px;
}
table.defect_report th, table.inspection_certificates th{
    background-color: #e9ecef;
    padding: 2px 5px !important;
}
table.defect_report th, table.defect_report td, table.inspection_certificates th, table.inspection_certificates td{
    font-size: 12px;
}
table.defect_report td, table.inspection_certificates td{
    padding: 0 !important;
}
table.defect_report td input, table.inspection_certificates td input{
    width: 100%;
    border: none;
    padding: 2px 5px !important; 
}
table.defect_report tr.last_row td, table.inspection_certificates tr.last_row td{
    border: none !important;
    text-align: right;
}
td.remove_tr{
    border: none;
}
.add_module .dropdown button{
    padding-right: 25px;
}
.add_module .dropdown button:after{
    right: 12px;
}
/* .add_module .dropdown .dropdown-menu{
    width: 205px;
}*/
.add_module .dropdown .dropdown-menu .dropdown-item:hover{
    background-color: #0062cc;
    color: #fff;
}
.top_menu .navbar-nav>li.dropdown .dropdown-toggle .badge.badge-default {
    background-color: #36c6d3;
    color: #fff;
}
#header_notification_bar{
    margin-top: 7px;
    margin-left: 10px;
}
#header_notification_bar:after{
    display: none;
}
.notifications_icon:after{
    display: none;
}
.all_notification{
    right: 0;
    left: auto;
}
.all_notification:before{
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block!important;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #eee;
    border-left: 7px solid transparent;
    border-bottom-color: #c52127;
    content: '';
}
.top_menu .navbar-nav>li.dropdown-extended .dropdown-menu {
    border-color: #c52127;
}
.top_menu .navbar-nav>li.dropdown-extended .dropdown-menu {
    min-width: 160px;
    max-width: 275px;
    width: 275px;
    z-index: 9999;
    top: 32px;
    right: 30px;
    padding-top: 0;
}
.top_menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external {
    background: #eaedf2;
}
.top_menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external {
    display: block;
    overflow: hidden;
    padding: 15px;
    letter-spacing: .5px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.top_menu .navbar-nav>li.dropdown>.dropdown-toggle>.badge {
    font-family: "Open Sans",sans-serif;
    position: relative;
    top: -7px;
    right: 33px;
    font-weight: 300;
    padding: 3px 6px;
}
.top_menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>h3 {
    margin: 0;
    padding: 0;
    float: left;
    font-size: 13px;
    display: inline-block;
    color: #62878f;
}
.top_menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list {
    padding-right: 0!important;
    padding-left: 0;
    list-style: none;
}
.scroller {
    padding: 0 12px 0 0;
    margin: 0;
    overflow: hidden;
}
.top_menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li>a .time {
    background: #f1f1f1;
}
.top_menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li a .time {
    float: right;
    max-width: 75px;
    font-size: 11px;
    font-weight: 400;
    opacity: .7;
    filter: alpha(opacity=70);
    text-align: right;
    padding: 1px 5px;
}
.top_menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li a .details {
    display: block;
    overflow: hidden;
}
.top_menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li{
    padding: 5px;
    border-bottom: 1px solid #eee;
    color: #888;
}
.top_menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li a{
    padding-left: 0 !important;
}
.top_menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li>a:hover {
    background: #f8f9fa;
}
.top_menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li a .details .label-icon{
    padding: 0px 4px 0px 4px;
    background-color: #bac3d0;
}
/*.top_menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li a .details {
    background-color: #F1C40F;
    color: #fff;
}*/
.top_menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li a .details .label-warning{
    background-color: yellow;
    color: black;
}
.notifs_bell{
    color: #ffc107;
}
.loading{
  position: fixed;
  top: 0;
  left: 250px;
  bottom: 0;
  right: 0;
  background-color: #ddd;
  z-index: 999;
  text-align: center;
  opacity: .5;
  display: none;
}
.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid blue;
  border-right: 8px solid green;
  border-bottom: 8px solid red;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  margin-top: 170px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 1430px) {
    .dashboard .box h1 {
        font-size: 22px;
        margin-top: 5px;
    }
    .dashboard .box h5 {
        font-size: 13px;
    }
    .dashboard .icon {
        text-align: right;
    }
    .dashboard .icon svg{
        width: 100%;
    }
}

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media (max-width: 400px) {
    #badge_for_notification { 
            position: relative; 
    }
}

